.droplet {
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px dashed #d1d5db;
}

.cloud-icon {
  font-size: 24px;
}

.droplet-label {
  display: block;
  text-align: center;
  color: #6b7280;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: no-drop;
}
